# Change extension of this file to .gitignore

*.class
pgdata/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

#Gradle temporary files
target/

#Eclipse files
**/.project
**/.classpath
**/.settings/
blog/bin/
**/.tern-project

#IntelliJ files
**/*.iml
**/.idea
**/.gradle


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.pgdata/base/1/112
.pgdata/base/1/112
.pgdata/base/1/112
.pgdata/base/1/113
.pgdata/base/1/1247
.pgdata/base/1/112
.pgdata/base/1/113
maromba_login/src/main/resources/application.properties
maromba_login/src/main/java/com/api/maromba/login/models/UsuarioModel.java
maromba_login/src/main/java/com/api/maromba/login/dtos/UsuarioDto.java
maromba_login/pom.xml
maromba_login/Dockerfile
